/*!
 * TrippoApp v1.0
 * Copyright 2012 Trippo, Inc
 * Licensed under CC BY 3.0
 * http://creativecommons.org/licenses/by/3.0/
 *
 */

 /***** ZELF BIJGEZET ****/

 .comment
{
    color:#0000FF
}
.idpheader
{
	color:#FF0000
}

.wide
{
	width:95%
}

.halfwide
{
	width:20%
}

.nomargin
{
	margin:auto;

}

.highlines
{
	line-height:70px;

}

pre{
	white-space: pre-wrap;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  background-color: #f5f5f5;
}
