/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=73p0u0kkmxTapQ9fUGGortIsAp0 */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 { color: #408CA5 }	/* Main Primary color */
.color-primary-1 { color: #99CDDF }
.color-primary-2 { color: #65ABC2 }
.color-primary-3 { color: #277994 }
.color-primary-4 { color: #11627C }

.color-secondary-1-0 { color: #4F61B3 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #A3AEE4 }
.color-secondary-1-2 { color: #7383CC }
.color-secondary-1-3 { color: #3549A1 }
.color-secondary-1-4 { color: #1E3088 }

.color-secondary-2-0 { color: #FFCF5D }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFE7AC }
.color-secondary-2-2 { color: #FFDA80 }
.color-secondary-2-3 { color: #EDB838 }
.color-secondary-2-4 { color: #C79315 }

.color-complement-0 { color: #FFB05D }	/* Main Complement color */
.color-complement-1 { color: #FFD7AC }
.color-complement-2 { color: #FFC180 }
.color-complement-3 { color: #ED9538 }
.color-complement-4 { color: #C77115 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 64,140,165,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(153,205,223,1) }
.rgba-primary-2 { color: rgba(101,171,194,1) }
.rgba-primary-3 { color: rgba( 39,121,148,1) }
.rgba-primary-4 { color: rgba( 17, 98,124,1) }

.rgba-secondary-1-0 { color: rgba( 79, 97,179,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(163,174,228,1) }
.rgba-secondary-1-2 { color: rgba(115,131,204,1) }
.rgba-secondary-1-3 { color: rgba( 53, 73,161,1) }
.rgba-secondary-1-4 { color: rgba( 30, 48,136,1) }

.rgba-secondary-2-0 { color: rgba(255,207, 93,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,231,172,1) }
.rgba-secondary-2-2 { color: rgba(255,218,128,1) }
.rgba-secondary-2-3 { color: rgba(237,184, 56,1) }
.rgba-secondary-2-4 { color: rgba(199,147, 21,1) }

.rgba-complement-0 { color: rgba(255,176, 93,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,215,172,1) }
.rgba-complement-2 { color: rgba(255,193,128,1) }
.rgba-complement-3 { color: rgba(237,149, 56,1) }
.rgba-complement-4 { color: rgba(199,113, 21,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */

.flexrow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.topic {
  width: 100%;
  background-color: rgba(64,140,165,0.5);
  border-radius: 5px;
  margin: 5px;
  padding: 12px 16px;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
}

@media (min-width: 600px) {
  .topic {
      width: 47%; /* Set width to 50% when parent is wider than 500px */
  }
}

.topic h5 {
  text-align: center;
}

.bg-kul {
  background-color: rgba(64,140,165,1) !important;
}

a {
  color: #11627C;/*#0056b3;*/
}

a:hover {
  color: #FFCF5D;
}

.nav-link:hover {
  color: #FFCF5D !important;
}

.ul-bib > li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f15c    ";
}

.keyword{
  position: relative;
  border-bottom: 1px dotted black;
}

.keyword:hover:after{
  content: attr(data-tooltip);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 105%;
  top: 1.5em;
  width: 25rem;
  /* white-space: nowrap; */
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
/*
.keyword.AFT:hover:after {
  content: "Approximation Fixpoint Theory keyword";
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 5px;
  top: 18px;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}*/

.paper-title{
  font-weight: 600;
}

.paper-authors{
  font-size: 12px;
  font-variant: small-caps;
}

.paper-publisher{
  font-size: 12px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}

.person img {
  border-style: thin solid !important;
  border-radius: 50%;
  width:180px;
  height:180px;
  object-fit:cover;
}

/* Timeline lists */
ul.timelinelist {
    list-style-type: none;
    position: relative;
    z-index: 10;
}
ul.timelinelist:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timelinelist > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timelinelist > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #408CA5;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.version{
  font-weight: 600;
}

.version::after {
  content: ':'
}

ul.timelinelist > li.latest:before {
    border: 4px solid #FFCF5D !important;
}
/*timelines*/
ul.timeline .competition .timeline-badge {
  background-color: #408CA5 !important;
}

ul.timeline .hosted-event .timeline-badge {
  background-color: #FFCF5D !important;
}

ul.timeline .talk .timeline-badge {
  background-color: #ED9538 !important;
}

ul.timeline .award .timeline-badge {
  background-color: #3548A2 !important;
}

/*
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}
*/

.blockquote {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-style: italic;
}

.idp-code {
  margin-left: 1rem;
  border-left: 1px solid;
  padding-left: 20px;
}

.sub-nav .nav-link {
  color: #007bff;
  padding:0rem 1rem;
}

.example {
  padding: 1.5rem;
  margin: 1rem 0px;
  border-width: 0.1pt;
  border-style: solid;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-color: #408CA5;
}

.on-page-nav .nav-link {
  color: #0d6efd !important;
}

.on-page-nav .nav-link:hover {
  color: #0d6efd !important;
}

.on-page-nav .nav-link.active {
  color: rgba(64,140,165,1);
}

.on-page-nav.nav-pills .nav-link.active {
  color: rgba(256,256,256,1) !important;
}

.bi-ul li.in::before {
  content: "\f1be    ";
  vertical-align: middle;
}
.bi-ul li.out::before {
  content: "\f1c2    ";
  vertical-align: middle;
}

  ul.bi-ul > li {
    list-style: none;
  }

    ul.bi-ul > li::after, ul.bi-ul > li::before{
      font-family: bootstrap-icons;
      margin-right:0.25rem;
      vertical-align: middle;
    }
