<div class="container">
  <div class="text-muted">
    <span><i class="fas fa-university"></i> KU Leuven, DTAI, Knowledge Representation and Reasoning group.</span>
    <!--<span class="text-md-right">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>-->
  </div>
</div>
