<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md fixed-top bg-kul">
  <div class="container">
    <a class="navbar-brand" href="https://dtai.cs.kuleuven.be">
      <img src="img/DTAI-logo-henglish-white.png" width="80" height="45" alt="KU Leuven DTAI">
    </a>
    <!--<a class="nav-link" href="index.html">KRR</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="people.html">People</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="software-nav-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Software</a>
          <ul class="dropdown-menu" aria-labelledby="software-nav-dropdown">
            <li><a class="dropdown-item" href="software.html">Overview</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="https://www.IDP-Z3.be">IDP-Z3</a></li>
            <li>
              <a class="dropdown-item" href="idp.html">IDP</a>
              <!-- <a class="nav-link dropdown-toggle" id="idp-nav-dropdown" href="#" role="button" data-toggle="dropdown2" aria-haspopup="true" aria-expanded="false">IDP</a> -->
              <!-- <ul class="dropdown-menu" aria-labelledby="idp-nav-dropdown"> -->
                <!-- <li><a class="dropdown-item" href="test.html">test</a></li> -->
              <!-- </ul> -->
            </li>
            <li><a class="dropdown-item" href="minisatid.html">MinisatID</a></li>
            <li><a class="dropdown-item" href="idpdraw.html">IDPDraw</a></li>
            <li><a class="dropdown-item" href="configid.html">ConfigID</a></li>
            <li><a class="dropdown-item" href="//dtai.cs.kuleuven.be/krr/Asystem/">Asystem</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="language-nav-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KR Languages</a>
          <div class="dropdown-menu" aria-labelledby="language-nav-dropdown">
            <a class="dropdown-item" href="fodot.html">FO(&middot;)</a>
            <a class="dropdown-item" href="aspvsfodot.html">ASP - FO(&middot;) comparison</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://krr.gitlab.io/demos/">Application demos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
