<ul class="timeline">
  <li class="timeline award ICLP 2024">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">ICLP 2024: 20 Year Test of Time Award</h4>
      </div>
      <div class="timeline-body">
        <p>
          Joost Vennekens, Sofie Verbaeten and Maurice Bruynooghe obtained the 20 Year Test of Time Award at the '40th International Conference on Logic Programming' (<a href="https://www.iclp24.utdallas.edu/">ICLP 2024</a>) for their paper '<a href="https://link.springer.com/chapter/10.1007/978-3-540-27775-0_30">Logic Programs with Annotated Disjunctions</a>'.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted award LPNMR 2024">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">LPNMR 2024: Best Paper Award</h4>
      </div>
      <div class="timeline-body">
        <p>
          Robbe Van den Eede, Robbe Van Biervliet and Marc Denecker received the Best Paper Award at the '17th International Conference on Logic Programming and Non-monotonic Reasoning' (<a href="https://lpnmr2024.demacs.unical.it/">LPNMR 2024</a>) for their paper '<a href="https://link.springer.com/chapter/10.1007/978-3-031-74209-5_3">A Sequent Calculus for Generalized Inductive Definitions</a>'.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline award BrEA 2024">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Brea Student Prize 2024</h4>
      </div>
      <div class="timeline-body">
        <p>
          Daimy Van Caudenberg won the <a href="https://www.brea.be/aboutbrea?lang=en">BrEA student prize</a> for best master thesis in computer science for her work on enumerating solutions of the Yang-Baxter Equation. 
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted award VCLA outstanding master thesis 2024">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">VCLA International Student Awards 2024</h4>
      </div>
      <div class="timeline-body">
        <p>
          Dieter Vandesande is runner up for the <a href="https://www.vcla.at/2024/10/student-awards-announcement-2024/">VCLA Outstanding Master Thesis Award</a>.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline award AAAI 2022">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">AAAI 2022: Distinguished Paper Award</h4>
      </div>
      <div class="timeline-body">
        <p>
          Bart Bogaerts, Stephan Gocht, Ciaran McCreesh and Jakob Nordström received the Distinguished Paper Award at the '36th AAAI Conference on Artificial Intelligence' (<a href="https://aaai.org/conference/aaai/aaai-22/">AAAI 2021</a>) for their paper '<a href="https://aaai.org/papers/03698-certified-symmetry-and-dominance-breaking-for-combinatorial-optimisation/">Certified Symmetry and Dominance Breaking for Combinatorial Optimisation</a>'.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted award IJCAI 2021">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">IJCAI 2021: Distinguished Paper Award</h4>
      </div>
      <div class="timeline-body">
        <p>
          Simon Marynissen, Bart Bogaerts and Marc Denecker received the Distinguished Paper Award at the '30th International Joint Conference on Artificial Intelligence' (<a href="https://ijcai-21.org/">IJCAI 2021</a>) for their paper '<a href="https://www.ijcai.org/proceedings/2021/272">On the relationship between Approximation Fixpoint Theory and Justification Theory</a>'.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline award ICLP 2021">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">ICLP 2021: 20 Year Test of Time Award</h4>
      </div>
      <div class="timeline-body">
        <p>
          Marc Denecker, Nikolay Pelov and Maurice Bruynooghe were selected for the 'The John Alan Robinson 20 Year Test of Time Award' awarded at the '37th International Conference on Logic Programming' (<a href="https://iclp2021.dcc.fc.up.pt/">ICLP 2021</a>). He received this selection for his paper "Ultimate Well-Founded and Stable Semantics for
Logic Programs with Aggregates" dating from the year 2001. The award is a recognition for the most influential ICLP paper that was accepted for publication twenty years ago. <!--ICLP 2021 will be held as a fully virtual event.-->
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted award 2020">
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">ICLP 2020: 20 Year Test of Time Award</h4>
      </div>
      <div class="timeline-body">
        <p>
          Marc Denecker was selected for the 'The John Alan Robinson 20 Year Test of Time Award' awarded at the '36th International Conference on Logic Programming' (<a href="https://iclp2020.unical.it/program#h.onch8o36zp2">ICLP 2020</a>). He received this selection for his paper "Extending Classical Logic with Inductive Definitions" dating from the year 2000, at the 'International Conference on Computational Logic' (CL 2000). The award is a recognition for the most influential ICLP paper that was accepted for publication twenty years ago. <!--This year, ICLP 2020 will take place from the 18th of September 2020 in Rende (CS), Italy.-->
        </p>
      </div>
    </div>
  </li>
  <li class="timeline talk 2020">
    <div class="timeline-badge secondary"><i class="fas fa-chalkboard-teacher"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Invited Talk at CILC2020</h4>
      </div>
      <div class="timeline-body">
        <p>
          At the <a href="https://cilc2020.demacs.unical.it/home">Italian Conference on Computational Logic 2020</a>, Marc Denecker will give an invited talk titled "On the informal semantics of Knowledge Representation Languages and  Logic Programming". (<a href="https://cilc2020.demacs.unical.it/invited-speakers">abstract</a>, <a href="https://drive.google.com/file/d/17n5EABaiJZk6p85fMP713QV7IsLoVqvA/view">pdf slides</a>).
          The talk is a short presentation of the course at the Autumn School on Logic and Constraint Programming 2020.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted talk 2020">
    <div class="timeline-badge secondary"><i class="fas fa-chalkboard-teacher"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Autumn School on Logic and Constraint Programming 2020</h4>
      </div>
      <div class="timeline-body">
        <p>
          Marc Denecker gave an invited course at the <a href="https://sites.google.com/view/iclp-dc-2020/autumn-school-on-logic-programming">Autumn School on Logic and Constraint Programming</a>, an associated event of ICLP20. The question to start from is the following. For 45 years now, the meaning of logic programming and its connectives, negation as failure and the rule operator, have been a topic of discussion. In this course, Denecker investigages if this quesion can addressed in a more scientific way, by applying methods of formal science. In the course, he proposes a daring view of Knowledge Representation as the formal science of knowledge, and draws the consequences for logic programming (video of the course , pdf).
        </p>
      </div>
    </div>
  </li>
  <li class="timeline award 2020"> 
    <div class="timeline-badge secondary"><i class="fas fa-award"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Best Paper Award: RuleML+RR 2020</h4>
      </div>
      <div class="timeline-body">
        <p>
          Knowledge-based AI typically depends on a knowledge engineer to construct a formal model of domain knowledge — but what if domain experts could do this themselves? Congratulations to Bram Aerts and Simon Vandevelde PhD students of Joost Vennekens for winning the Best Paper Award at RuleML+RR 2020 with their paper "Tackling the DMN Challenges with cDMN: A Tight Integration of DMN and Constraint Reasoning".
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted competition 2019">
    <div class="timeline-badge secondary"><i class="fas fa-trophy"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Holy Grail Challenge</h4>
      </div>
      <div class="timeline-body">
        <p>
          Jens Claes, Bart Bogaerts, Rocsildes Canoy and Tias Guns have won the Holy Grail challenge in the 2019 workshop on Progress Towards the Holy Grail. Based on Jens' masterthesis supervised and submitted at the KU Leuven KRR research group, they presented a (mostly) automated tool that solves logic grid puzzles given in natural language and explains its reasoning to humans. Their implementation uses the IDP Knowledge Base System. For more information on the Holy Grail challenge, the paper or the slides, we refer to <a href="https://freuder.wordpress.com/pthg-19-the-third-workshop-on-progress-towards-the-holy-grail/">The 3rd workshop on Progress Towards the Holy Grail</a>.
        </p>
      </div>
    </div>
  </li>
  <!--
  <li class="timeline competition 2016">
    <div class="timeline-badge secondary"><i class="fas fa-trophy"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">RuleML 2016 Challenge</h4>
      </div>
      <div class="timeline-body">
        <p>
          The RuleML 2016 Challenge is one of the highlights at RuleML 2016 conference which seeks to provide a competition among innovative rule-oriented applications, aimed at both the research and industrial side. The paper submitted by the KRR group ended in a joint first place. The paper is called: Combining DMN and the Knowledge Base Paradigm for Flexible Decision Enactment by Ingmar Dasseville, Laurent Janssens, Gerda Janssens, Jan Vanthienen and Marc Denecker. The presentation of the paper can be found <a href="https://www.youtube.com/watch?v=F1ggqcc3Ces">here</a>.
        </p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted hosted-event 2015">
    <div class="timeline-badge"><i class="fas fa-calendar-day"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">GTTV</h4>
      </div>
      <div class="timeline-body">
        <p>Third Workshop on Grounding, Transforming, and Modularizing Theories with Variables - Lexington, september 2015.</p>
      </div>
    </div>
  </li>
  <li class="timeline competition 2015">
    <div class="timeline-badge secondary"><i class="fas fa-trophy"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">ICLP/CP Programming Competition 2015</h4>
      </div>
      <div class="timeline-body">
        <p>An IDP team participated in the 2015 ICLP / CP programming competition and won! Congratulations to Ingmar Dasseville, Jo Devriendt and Matthias van der Hallen!</p>
        <img width="100%" src="img/lpcp-comp.jpg"/>
      </div>
    </div>
  </li>
  <li class="timeline-inverted hosted-event 2014">
    <div class="timeline-badge"><i class="fas fa-calendar-day"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">LaSh14</h4>
      </div>
      <div class="timeline-body">
        <p>The International Workshop on Logic and Search - Vienna, july 2014</p>
      </div>
    </div>
  </li>
  <li class="timeline hosted-event 2012">
    <div class="timeline-badge"><i class="fas fa-calendar-day"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">LaSh12</h4>
      </div>
      <div class="timeline-body">
        <p>The 4th International Workshop on Logic and Search - Montpellier, august 2012</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted hosted-event 2010">
    <div class="timeline-badge"><i class="fas fa-calendar-day"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">DP@NMR'10</h4>
      </div>
      <div class="timeline-body">
        <p>NMR'10 Special session on Declarative Programming Paradigms and Systems: Organized by Marina De Vos and Marc Denecker - Toronto, may 2010</p>
      </div>
    </div>
  </li>
  <li class="timeline hosted-event 2009">
    <div class="timeline-badge"><i class="fas fa-calendar-day"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">ASP Competition</h4>
      </div>
      <div class="timeline-body">
        <p>A competition for ASP, SAT, SMT and CP solvers - Leuven, Spring 2009</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted  hosted-event 2008">
    <div class="timeline-badge"><i class="fas fa-calendar-day"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">LaSh08</h4>
      </div>
      <div class="timeline-body">
        <p>The 2nd International Workshop on Logic and Search - Leuven, november 2008</p>
      </div>
    </div>
  </li>
  -->
  <!--
  <li class="timeline">
    <div class="timeline-badge warning"><i class="fas fa-briefcase"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">PhD Candidate</h4>
        <h5 class="timeline-subtitle">Computer Architecture Group</h5>
        <p><small class="text-muted"><i class="fas fa-calendar-alt"></i> Oct 2017 - present</small></p>
      </div>
      <div class="timeline-body">
        <p><i class="fas fa-file-signature"></i> FPU fellowship</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge primary"><i class="fas fa-university"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">MSc Computer Engineering</h4>
        <h5 class="timeline-subtitle">University of A Coruña</h5>
        <p><small class="text-muted"><i class="fas fa-calendar-alt"></i> Oct 2016 - Feb 2018</small></p>
      </div>
      <div class="timeline-body">
        <p>90 credits course to complete my engineering studies</p>
      </div>
    </div>
  </li>
  <li class="timeline">
    <div class="timeline-badge warning"><i class="fas fa-briefcase"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Research intern</h4>
        <h5 class="timeline-subtitle">Computer Architecture Group</h5>
        <p><small class="text-muted"><i class="fas fa-calendar-alt"></i> Jun 2016 - Sep 2017</small></p>
      </div>
      <div class="timeline-body">
        <p>Continuation of previous internship and working on topics related with <abbr title="high performance computing">HPC</abbr></p>
      </div>
    </div>
  </li>
  <li class="timeline">
    <div class="timeline-badge warning"><i class="fas fa-briefcase"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Internship</h4>
        <h5 class="timeline-subtitle">Department of Electronics and Systems</h5>
        <p><small class="text-muted"><i class="fas fa-calendar-alt"></i> Jan 2015 - Jun 2015</small></p>
      </div>
      <div class="timeline-body">
        <p>Competitive internship to collaborate in a department and initiate to research</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge primary"><i class="fas fa-university"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">BSc Computer Engineering</h4>
        <h5 class="timeline-subtitle">University of A Coruña</h5>
        <p><small class="text-muted"><i class="fas fa-calendar-alt"></i> Sep 2012 - Jun 2016</small></p>
      </div>
      <div class="timeline-body">
          Erasmus at <a href="https://www.chalmers.se/en/Pages/default.aspx">Chalmer University of Technology</a> from August 2015 to January 2016<br>
          <i class="fas fa-trophy"></i> Best student award of 2016 promotion<br>
          <i class="fas fa-trophy"></i> 10/10 Final Degree Project
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge primary"><i class="fas fa-university"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Science baccalaureate</h4>
        <h5 class="timeline-subtitle">IES Ramón Cabanillas</h5>
        <p><small class="text-muted"><i class="fas fa-calendar-alt"></i> Sep 2010 - Jun 2012</small></p>
      </div>
      <div class="timeline-body">
          <i class="fas fa-trophy"></i> Best student award of 2012 promotion<br>
      </div>
    </div>
  </li>-->

</ul>
