<h2>Nomystery</h2>
<hr>
<h4>Description</h4>
<p>
  Nomystery is a transportation planning domain taken from the 2011's International Planning Competition, quite similar to other domains such as the Transport domain included both in the International Planning Competitions celebrated in 2008 and 2011.
  In the context of the ASP Competition Series, this problem is similar to Airport Pickup and Fastfood Optimization which appeared at the 2011 ASP Competition.
</p>
<p>
  In Nomystery, a truck moves in a weighted graph where a set of packages must be transported between nodes.
  Actions move the truck along edges and load/unload packages.
  Each move consumes the edge weight in fuel.
  The edge weights are uniformly drawn between <code>1</code> and an integer <code>W</code>.
  The initial fuel supply is set to <code>C * M</code> where <code>M</code> is the minimum required amount of fuel, calculated using a domain-specific optimal solver, and <code>C >= 1</code> is a (float) input parameter that denotes the ratio between the available fuel vs. the minimum amount required.
  The closer <code>C</code> is to <code>1</code>, the more constrained the problem. If <code>C=1</code> only the optimal plan solves the problem.
</p>
<p>
  The original problem description (from the ASP Competition 2013) can be found <a href="https://www.mat.unical.it/aspcomp2013/Nomystery">here</a>.
</p>
<h4>Input and output</h4>
<!-- Input: -->
<p>
  In the setting of the ASP competition, input predicates encode the weighted graph at hand, the initial positions of packages and of the truck, the initial fuel available and the final requested destination for packages.
</p>
<ul class="bi-ul">
  <!-- <li class="in"><code>at/2, fuel/2, fuelcost/3, goal/2, step/1</code></li> -->
  <li class="in">
    <code>at(o,l)</code>: The object <code>o</code> (either a package or a truck) is initially at location <code>l</code>.
  </li>
  <li class="in">
    <code>fuel(t,l)</code>:The initial fuel available for truck <code>t</code> is <code>l</code> (for l a positive integer).
  </li>
  <li class="in">
    <code>fuelcost(c,a,b)</code>: The locations <code>a</code> and <code>b</code> are connected and the cost for travelling from <code>a</code> to <code>b</code> is <code>c</code> (for <code>c</code> a positive integer).
  </li>
  <li class="in">
    <code>goal(p,l)</code>: At the final step, the package <code>p</code> must stay at location <code>l</code>.
  </li>
  <li class="in">
    <code>step(s)</code>: <code>s</code> is an allowed step, for <code>s</code> a positive integer value the predicate <code>step</code> is intended in order to encode the maximum number of allowed steps.
    It can be assumed that for <code>1..n</code> the allowed steps, then <code>step(1) .. step(n)</code> assertions hold.
  </li>
</ul>
<p>
  An answer for an instance of the problem encodes a sequence of actions of at most <code>N</code> steps (for <code>N</code> the maximum value of <code>x</code> for the assertions in the form <code>step(x)</code> given as input) which move all packages from starting locations to their goal locations, using the allowed trucks.
  A truck can carry many packages at once, and consumes fuel when travelling across locations, according to fuel costs of each edge.
  The three types of actions are load, unload and drive.
  Note that the generated witness can be shorter than N actions, and that steps in which no action is carried out are allowed.
</p>
<ul class="bi-ul">
  <li class="out">
    <code>load(p,t,l,s)</code>: at step <code>s</code>, the truck <code>t</code> loads package <code>p</code>, at location <code>l</code>. This action can be carried out only if at step <code>s-1</code> (or at the initial input state) <code>p</code> and <code>t</code> were previously located at <code>l</code>.
  </li>
  <li class="out">
    <code>unload(p,t,l,s)</code>: at step <code>s</code>, the truck <code>t</code> unloads package <code>p</code>, at location <code>l</code>. This action can be carried out only if, at step <code>s-1</code> (or at the initial input state), <code>t</code> was located at <code>l</code>, and <code>p</code> was loaded into the truck.
  </li>
  <li class="out">
    <code>drive(t,l1,l2,s)</code>: at step <code>s</code>, the truck <code>t</code> drives from <code>l1</code> to <code>l2</code>, reducing thus its fuel level. This action can be carried out only if at step <code>s-1</code> (or at the initial input state), <code>t</code> was located at <code>l1</code>, <code>l1</code> and <code>l2</code> are connected by an arc of cost <code>c</code>, the previous fuel of <code>t</code> was <code>f1</code>, and <code>f1-c = f &gt;= 0</code>.
  </li>
</ul>

<div class="on-page-nav nav nav-pills d-flex flex-row align-items-baseline justify-content-end" id="nomystery-tab" role="tablist" aria-orientation="vertical"><!--me-3-->
  <h4 style="flex-grow:1;">Models</h4>
  <a class="nav-link active" id="nomystery-IDP-tab" data-bs-toggle="pill" href="#nomystery-IDP" role="tab" aria-controls="nomystery-IDP" aria-selected="true">IDP</a>
  <a class="nav-link" id="nomystery-ASP-tab" data-bs-toggle="pill" href="#nomystery-ASP" role="tab" aria-controls="nomystery-ASP" aria-selected="true">ASP</a>
</div>
<div class="tab-content mt-2">
  <div class="tab-pane fade show active" id="nomystery-IDP" role="tabpanel" aria-labelledby="nomystery-IDP-tab">
<pre><span class="idpheader">vocabulary V{</span>
<span class="idpheader">}</span>
<span class="idpheader">theory T: V{</span>
<span class="comment">//Connected is defined as all locations which are somehow linked (leaving out the cost of going from one to another).</span>
{
Connected(l1,l2) ← ∃c: fuelcost(c,l1,l2).
}
<span class="comment">//The location of the truck is completely defined in terms of initial locations and actions.</span>
{
<span class="comment">//Initially, he is at its start location (note: MIN[:Step] = 0).</span>
TruckAt(MIN[:Step])=TruckStart.
<span class="comment">//Intertia</span>
TruckAt(step+1) = l ← TruckAt(step) = l ∧ ¬ ∃ loc: DriveTo(loc,step).
<span class="comment">//If he drives somewhere, the next time point he will there.</span>
TruckAt(step+1) = l ← DriveTo(l,step).
}
<span class="comment">//AtGoalLocation is defined assuming we only unload packages on their goal location.</span>
{
AtGoalLocation(package,MIN[:Step]) ← GoalLocation(package)=StartLocation(package).
AtGoalLocation(p,s+1) ← AtGoalLocation(p,s).
AtGoalLocation(p,s+1) ← Unload(p,s).
}
<span class="comment">//Loaded is defined in terms of the Load and Unload actions.</span>
{
Loaded(p,s+1) ← Load(p, s).
Loaded(p,s+1) ← Loaded(p,s) ∧ ¬Unload(p,s).
}
{
<span class="comment">//A package is loadable iff it is on the same location as the truck, not yet loaded and not yet at its destination.</span>
Loadable(p,s) ← ¬AtGoalLocation(p,s) ∧ ¬Loaded(p,s) ∧ TruckAt(s)=StartLocation(p).
<span class="comment">//A package is unloadable iff it is loaded and the truck is at the destination of the package.</span>
Unloadable(p,s) ← GoalLocation(p)=TruckAt(s) ∧ Loaded(p,s).
}
<span class="comment">//At the final time point, all packages should be delivered.</span>
∀ p: AtGoalLocation(p,MAX[:Step]).

<span class="comment">//The last moment, you cannot do an action</span>
∀ loc: ¬DriveTo(loc,Max[:Step]).
∀ p: ¬Load(p,Max[:Step]).
∀ p: ¬Unload(p,Max[:Step]).

<span class="comment">//You can only do one action at a time.</span>
∀step: #{loc : DriveTo(loc,step)} + #{package : Load(package,step)} + #{package : Unload(package,step)} =&lt; 1.

<span class="comment">//Packages can only be (un)loaded if they are (un)loadable.</span>
∀s p: Load(p,s) ⇒ Loadable(p,s).
∀s p: Unload(p,s) ⇒ Unloadable(p,s).

<span class="comment">//Total driven distance is limited by fuel.</span>
FuelStart &gt;= sum{c loc step : DriveTo(loc,step) ∧ fuelcost(c,TruckAt(step),loc) : c }.

<span class="comment">// The truck can only drive to a location from a connected location.</span>
∀step loc: DriveTo(loc,step) ⇒ Connected(TruckAt(step),loc).
<span class="idpheader">}</span>
</pre>

    <!-- <h5>Download</h5> -->
    <p>
      <i class="fas fa-file-download"></i> Download the entire IDP-model (including preprocessing of ASP factlists) <a href="files/n07.idp">here</a>.
    </p>
  </div>
  <div class="tab-pane fade" id="nomystery-ASP" role="tabpanel" aria-labelledby="nomystery-ASP-tab">
    <!-- <h5>About</h5> -->
    <p>
      The ASP-model chooses to search for a predicate <code>subt/3</code>.
      This predicate encodes the <code>index</code>-function from the IDP modeling when restricted to its first two arguments,
      <code>t</code> when restricted to its last two arguments, and <code>solution</code> when restricted to its first and last argument.
    </p>
    <!-- <h5>Model</h5> -->

<pre><span class="comment">% Derive "types" from the input predicates.</span>
truck(T) :- fuel(T,_).
package(P) :- at(P,L), not truck(P).
location(L) :- fuelcost(_,L,_).
location(L) :- fuelcost(_,_,L).
locatable(O) :- at(O,L).

<span class="comment">% Derive the state at time 0 from the input predicates.</span>
at(O,L,0) :- at(O,L).
fuel(T,F,0) :- fuel(T,F).

<span class="comment">% GENERATE: at every timepoint, exaclty one of unload, load, drive and noop with correct types should be chosen. Unless other rules also define one of these predicates, this means that at every time (at most) one action occurs.</span>
1 ≤ { unload( P,T,L,S ) :
package( P ) ,
truck( T ) ,
location( L );
load( P,T,L,S ) :
package( P ) ,
truck( T ) ,
location( L );
drive( T,L1,L2,S ) :
fuelcost( Fueldelta,L1,L2 ) ,
truck( T );
noop(S)
} ≤ 1 :- step(S), S &gt; 0.

<span class="comment">% When an unload action occurs, the package arives at the location specified in the unload action.</span>
at( P,L,S ) :- unload( P,T,L,S ).
<span class="comment">% In this case, we remember that inertia no longer holds for this atom</span>
del( in( P,T ),S ) :- unload( P,T,L,S ).

<span class="comment">% Similar to unload</span>
del( at( P,L ),S ) :- load( P,T,L,S ).
in( P,T,S ) :- load( P,T,L,S ).

<span class="comment">% Similar to unload</span>
del( at( T,L1 ), S ) :- drive( T,L1,L2,S ).
at( T,L2,S ) :- drive( T,L1,L2,S).

<span class="comment">% The fuel at the next step is calculated in terms of the fuel in the previous steps.</span>
del( fuel( T,Fuelpre ),S ) :- drive( T,L1,L2,S ), fuel(T, Fuelpre,S-1).
fuel( T,Fuelpost,S ) :- drive( T,L1,L2,S ), fuelcost(Fueldelta,L1,L2), fuel(T,Fuelpre,S-1), Fuelpost = Fuelpre - Fueldelta.

<span class="comment">% Inertia holds unless something gets "deleted".</span>
at( O,L,S ) :- at( O,L,S-1 ), not del( at( O,L ),S  ), step(S).
in( P,T,S ) :- in( P,T,S-1 ), not del( in( P,T ),S  ), step(S).
fuel( T,Level,S ) :- fuel( T,Level,S-1 ), not del( fuel( T,Level) ,S ), truck( T ), step(S).

<span class="comment">% It cannot be the case that an action occurs while not knowing that the preconditions hold.</span>
:- unload( P,T,L,S ), not preconditions_u( P,T,L,S ).
preconditions_u( P,T,L,S ) :- step(S), at( T,L,S-1 ), in( P,T,S-1 ), package( P ), truck( T ).

:- load( P,T,L,S ), not preconditions_l( P,T,L,S ).
preconditions_l( P,T,L,S ) :- step(S), at( T,L,S-1 ), at( P,L,S-1 ).

:- drive( T,L1,L2,S ), not preconditions_d( T,L1,L2,S ).
preconditions_d( T,L1,L2,S ) :- step(S), at( T,L1,S-1 ), fuel( T, Fuelpre, S-1), fuelcost(Fueldelta,L1,L2), Fuelpre - Fueldelta &gt;= 0.

<span class="comment">% The goal is reached if some number both equals the number of packages that are at their location and the number of packages for which a goal location is specified.</span>
goalreached :- step(S),  N = #count{ P,L,S : at(P,L,S) , goal(P,L) }, N = #count{ P,L : goal(P,L) }.
<span class="comment">% It cannot be the case that we don't know that the goal is reached.</span>
:- not goalreached.
</pre>

    <!-- <h5>Download</h5> -->
    <p>
      <i class="fas fa-file-download"></i> Download the entire ASP-model <a href="files/n07.asp">here</a>.
    </p>
  </div>
</div>
<!-- </div> -->

<script>
  var triggerTabListNomystery = [].slice.call(document.querySelectorAll('#nomystery-tab a'))
  triggerTabListNomystery.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (event) {
      event.preventDefault()
      tabTrigger.show()
    })
  });
</script>
