<h2>Strategic Companies<h2>
<hr>
<h4>Description</h4>
<p>
   Strategic companies is a well-known NP^NP-complete problem that has often been used for systems comparisons, and also in the previous ASP Competitions.
   In the Strategic Companies problem, a collection  C = c<sub>1</sub>, ..., c<sub>m</sub>  of companies is given, for some m ≥ 1.
   Each company produces some goods in a set G, and each company c<sub>i</sub> in C is possibly controlled by a set of owner companies O<sub>i</sub>
   (where O<sub>i</sub> is a subset of C, for each i = 1,...,m).  In this context, a set C' of companies (i.e., a subset of C) is a "strategic set"
   if it is minimal among all the sets satisfying the following conditions:
</p>
<ul>
   <li> Companies in C' produce all goods in G;</li>
   <li> If O<sub>i</sub> is a subset of C', the associated company c<sub>i</sub> must belong to C' (for each i=1,...,m).</li>
</ul>
<p>
  In the ASP competition, instances were subject to two additional restrictions:
</p>
<ol>
  <li> each product is produced by at most four companies; and</li>
  <li> each company is controlled by at most four companies. </li>
</ol>
<p>
  Under these restrictions the problem is still NP^NP-complete.
</p>
<p>
  The goal of the problem is a follows: Given two distinct companies c<sub>i</sub>, c<sub>j</sub> in C, we ask for checking whether no strategic set C' containing both c<sub>i</sub> and c<sub>j</sub> does exist. Queries of this benchmark have thus to be answered cautiously.
</p>
<p>
  The original problem description (from the ASP Competition 2013) can be found <a href="https://www.mat.unical.it/aspcomp2013/FinalProblemDescriptions/StrategicCompanies">here</a>.
</p>
<h4>Input and output</h4>
Input:
<ul class="bi-ul">
  <li class="in">
    <code>producedBy(p,c1,c2,c3,c4)</code>: indicates that a product <code>p</code> is produced by companies <code>c1</code>, <code>c2</code>, <code>c3</code>, and <code>c4</code>.
    If a product <code>p</code> is produced by less than four companies (but at least one), the atom <code>produced_by(p,c1,c2,c3,c4)</code> contains repetitions of companies.
    For instance, <code>producedBy(p,c1,c2,c3,c3)</code> is used for representing that <code>p</code> is produced solely by <code>ca</code>, <code>cb</code>, and <code>cc</code>.
  </li>
  <li class="in">
    <code>controlledBy(c,c1,c2,c3,c4)</code>: indicates that a company <code>c</code> is controlled by companies <code>c1</code>, <code>c2</code>, <code>c3</code>, and <code>c4</code>.
    Analogously to <code>producedBy</code>, <code>controlled by(c, c1, c1, c1, c1)</code> represents that <code>c</code> is controlled by (only) <code>c1</code>.
  </li>
  <li class="in">
    <code>non_strategic_pair(c1,c2)</code>: indicates for which two companies one should test whether no strategic set containing both of them exists.
  </li>
</ul>
Output:
<ul class="bi-ul">
  <li class="out"><code>yes</code> or <code>no</code>.</li>
</ul>

<div class="on-page-nav nav nav-pills d-flex flex-row align-items-baseline justify-content-end" id="strategic-tab" role="tablist" aria-orientation="vertical">
  <h4 style="flex-grow:1;">Models</h4>
  <a class="nav-link active" id="strategic-IDP-tab" data-bs-toggle="pill" href="#strategic-IDP" role="tab" aria-controls="strategic-IDP" aria-selected="true">IDP</a>
  <a class="nav-link" id="strategic-ASP-tab" data-bs-toggle="pill" href="#strategic-ASP" role="tab" aria-controls="strategic-ASP" aria-selected="true">ASP</a>
</div>
<div class="tab-content mt-2">
  <div class="tab-pane fade show active" id="strategic-IDP" role="tabpanel" aria-labelledby="strategic-IDP-tab">
    <!-- <h5>About</h5> -->
    <p>
      In the IDP model we chose to model the entire problem, not the arbitrary restriction where a company can only have four controlling companies
      and a product can only be produced by four companies. Hence, we used predicates <code>produces/2</code> to represent facts that a company produces a certain product
      and <code>controls/2</code> to represent that a company controls another company.
    </p>
    <p>
      Since this is an NP^NP complete problem, it cannot be solved by one modelexpansion call to an FO(·) theory, unless we explicitely encode sets.
      The IDP3 system, however allows for recursive calls. In order to do so, we introduce a predicate <code>prestrategic/1</code> and we will create a theory <code>T<sub>1</sub></code>
      such that in all models of <code>T<sub>1</sub></code> represent a set satisfying the two conditions, but are not per se minimal
      and such that every strategic set is indeed a model of <code>T<sub>1</sub></code>. We will also introduce a predicate
      <code>subset/1</code> and create a second theory,
      <code>T<sub>2</sub></code> such that models of <code>T<sub>2</sub></code> represent subsets of <code>prestrategic</code> that also satisfy the two conditions.
      The problem then reduces to finding a model of  <code>T<sub>1</sub></code> that cannot be expanded to a model of <code>T<sub>2</sub></code> (i.e. no such subsets exists,
      hence <code>prestrategic</code> is minimal). If such a model is found, we found a strategic set and the answer is <code>no.</code>, otherwise it is <code>yes.</code>.
    </p>
    <!-- <h5>Model</h5> -->

<pre><span class="idpheader">vocabulary V1{</span>
<span class="comment">//Input</span>
type Company
type Product
produces(Company,Product)
controls(Company,Company)
uncontrolled(Company) <span class="comment">//If a company is not controlled by any other company.</span>
C1:Company
C2:Company
<span class="comment">//Output</span>
weakStrategic(Company)
choose(Product,Company) <span class="comment">//Predicate that will help for reducing the number of generated weakStrategic sets that are not actually strategic. </span>
<span class="idpheader">}</span>
<span class="idpheader">vocabulary V2{</span>
extern vocabulary V1 <span class="comment">//includes all symbols from V1</span>
subset <span class="comment">//A subset of weak-strategic that satisfies the two conditions</span>
<span class="idpheader">}</span>
<span class="idpheader">theory T1: V{</span>
<span class="comment">//Every strategic set can be obtainend by choosing (at most) one producer of every product and closing this set under the ownership constraint.</span>
∀ product company: choose(product, company) ⇒ produces(company, product).
∀ g: #{c: choose(g,c)} ≤ 1.
<span class="comment">//weakStrategic is defined inductively: chosen companies are in this set, and companies owned by the set are in it.</span>
{
weakStrategic(c) ← ∃ product: choose(product,c).
weakStrategic(c) ← ¬ uncontrolled(c) ∧ (∀ o: controls(o,c) ⇒ weakStrategic(o)).
}
weakStrategic(C1) ∧ weakStrategic(C2). <span class="comment">//We only want candidate strategic sets containing both C1 and C2.</span>
!p: ∃c: weakStrategic(c) ∧ produces(c,p). <span class="comment">//A weak-strategic set produces all products.</span>
<span class="idpheader">}</span>
<span class="idpheader">theory T2: V{</span>
subset(c) ⇒ weakStrategic(c). <span class="comment">//Subset should be a subset of weakStrategic.</span>
∃c: ¬subset(c) ∧ weakStrategic(c). <span class="comment">//The subset relation should be stric.</span>
!p: ∃c: subset(c) ∧ produces(c,p). <span class="comment">//The subset should produce all products...</span>
∀ c: (¬uncontrolled(c) ∧ (∀ o: controls(o,c) ⇒ subset(o))) ⇒ subset(c). <span class="comment">//... and should be closed under the ownership relation.</span>
<span class="idpheader">}</span>
<span class="idpheader">procedure solve(){</span>
for all models M of T1 do
if M can be extended to a model of T2
computer says no
end
done
print("yes.")
<span class="idpheader">}</span>
</pre>

    <!-- <h5>Download</h5> -->
    <p>
      <i class="fas fa-file-download"></i> Download the entire IDP-model (including preprocessing of ASP factlists) <a href="files/n12.idp">here</a>.
    </p>
  </div>
  <div class="tab-pane fade" id="strategic-ASP" role="tabpanel" aria-labelledby="strategic-ASP-tab">
    <!-- <h5>About</h5> -->
    <p>
      The ASP-model uses 'disjunction in the head' along with a regular rule to encode the minimality of <code>strategic</code> within the semantics of <emph>minimal</emp> answer set models.
    </p>
    <!-- <h5>Model</h5> -->

<pre>
strategic(X1) | strategic(X2) | strategic(X3) | strategic(X4) :- produced_by(X,X1,X2,X3,X4).
strategic(W) :- controlled_by(W,X1,X2,X3,X4), strategic(X1), strategic(X2), strategic(X3), strategic(X4).

strategic_pair(X,Y) :- strategic(X), strategic(Y).
non_strategic_pair(X,Y) :- company(X), company(Y), not strategic_pair(X,Y).

company(X1) :- produced_by(X,X1,X2,X3,X4).
company(X2) :- produced_by(X,X1,X2,X3,X4).
company(X3) :- produced_by(X,X1,X2,X3,X4).
company(X4) :- produced_by(X,X1,X2,X3,X4).
company(W) :- controlled_by(W,X1,X2,X3,X4).
company(X1) :- controlled_by(W,X1,X2,X3,X4).
company(X2) :- controlled_by(W,X1,X2,X3,X4).
company(X3) :- controlled_by(W,X1,X2,X3,X4).
company(X4) :- controlled_by(W,X1,X2,X3,X4).
</pre>

    <!-- <h5>Download</h5> -->
    <p>
      <i class="fas fa-file-download"></i> Download the entire ASP-model <a href="files/n12.asp">here</a>.
    </p>
  </div>
</div>

<script>
  var triggerTabListStrategic = [].slice.call(document.querySelectorAll('#strategic-tab a'))
  triggerTabListStrategic.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (event) {
      event.preventDefault()
      tabTrigger.show()
    })
  });
</script>
